@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Sniglet:wght@400;800&display=swap');

@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 400;
  src: url(ManuelCalixto.woff2) format('woff2');
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 500;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   font-size: 70.5%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 5rem;
    color: white;
    background-color: grey;
}

#inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    font-size: larger;
    width: 100vw;
    height: 60vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/072/775/non_2x/space-futuristic-background-free-vector.jpg);
    background-color: rgb(20, 106, 198);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 106, 198);
    color: white;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header nav{
    top: 2rem;
}

#fotoyo{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: solid rgb(20, 106, 198) 1px;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

#fotoyo:hover{
    transform: scale(1.2);
    z-index: 100;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;

}

.tabla,tr,td{
    border: solid white 1px;
    background-color: grey;
    font-size: larger;
}

.tabla{
    width: 90%;
    height: 400px;
}


#volverArriba{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-end;
    right: 5vh;
    bottom: 5vh;
    position: fixed;
    background-color: rgb(20, 174, 198);
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


@media screen and (max-width:1244px){
    header{
        height: 5rem;
    }
}


@media screen and (max-width:990px){
    h1{
        display: none;
    }

}